.mem-mon-progress-color-success {
  background-color: #28a745 !important;
}
.mem-mon-progress-color-warn {
  background-color: #ffc107 !important;
}
.mem-mon-progress-color-danger {
  background-color: #dc3545 !important;
}
.mem-mon-hidded {
  display: none;
}
